.hugo-footer {
    position: fixed;
    line-height: 60px;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.heart-footer {
    color: red;
}

.hugo-flag-footer {
    margin-left: 6px;
    margin-right: 6px;

}