#hugo-jumbotron {
    width: 100%;
    max-height: 600px;
    min-height: 600px
}

.hugo-jumbotron-loading {
    color: #ccc;
    background-color: #080808;
    padding-top: 160px;
    max-height: 600px;
    min-height: 600px
}